<!DOCTYPE html>
<html>
<head>
  <title>Dog-On-Rails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="biltli" style="float:left;">
<%= image_tag("dogonrails.jpg") %>
</div>
<div style="float:left;">
	Consumption Kid's current achievements:
	<div id="cart"><%= render @cart %></div>
</div>

<div id="main" style="clear: both">
	<%= yield %>
</div>

</body>
</html>
